.search-section {
  position: relative;
  margin-top: 54px;
  min-height: calc(100vh - 54px);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-elements-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.type-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  width: 100%;
}

.msg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;

  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.fetch-more-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
  text-align: center;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

  grid-column-gap: 1.6rem;
  grid-row-gap: 5rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.search-results a {
  text-decoration: none;
}

.observer-div {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 50px;
}

@media screen and (max-width: 1024px) {
  .search-results {
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
