.searched-media-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: 1fr;

  grid-gap: 2rem;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5rem;
  animation: searched-fade-in 1s ease;
}

@keyframes searched-fade-in {
  0% {
    transform: translateY(0.5rem);
    opacity: 0;
  }
}

.searched-media-wrapper a {
  text-decoration: none;
}

.msg-box,
.spinner-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 0;
  margin: 0 auto;
}

.msg-box p {
  color: #fff;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .searched-media-results {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    width: 90%;
  }

  .filter-media-container {
    width: 90%;
  }
}

@media screen and (max-width: 280px) {
  .searched-media-results {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}
