.filter-control {
  width: fit-content;
  display: flex;
  flex-direction: column;
  width: 70%;

  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}

.filters-container {
  width: 30rem;
  border-radius: 5px;
  overflow: hidden;
  background-color: #171717;

  margin-top: 2rem;
  transition: all 0.2s ease;
}

.filters-container-hidden {
  height: 0;
}

.filters-container-visible {
  height: fit-content;
}

.filter-divider {
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
}

.filter-divider svg {
  transition: transform 0.2s ease;
}

.filter-divider-active svg {
  transform: rotate(-180deg);
  transition: transform 0.2s ease;
}

.filters {
  color: #fff;
  font-size: 1.6rem;
}

.filters-hidden {
  display: none;
}

.filters-visible {
  height: fit-content;
}

.filter-card {
  width: 75%;
  margin: 2rem auto;
  padding: 1.3rem 1rem;
  background-color: #333333;

  border-radius: 10px;

  box-shadow: 0 0.4rem 0.5rem 0.1rem rgba(0, 0, 0, 0.322);
}

.rating-container {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.horizontal-line__transparent {
  width: 100%;
  height: 5px;
}

@media screen and (max-width: 1024px) {
  .filter-control {
    width: min(40rem, 70%);
    margin: 2rem auto;
  }

  .top-buttons {
    margin: 0 auto;
    width: 100%;
  }

  .filters-container {
    width: 100%;
  }
}
