.poster-card {
  display: flex;
  flex-direction: column;
}

.poster-card img {
  flex: 1;
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
}

.poster-card-info {
  color: #fff;
  font-size: 1.6rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.poster-card .rating {
  color: yellow;
}

.trailing-text {
  overflow: hidden;
  text-overflow: ellipsis;

  white-space: nowrap;
}

@media screen and (max-width: 768px) {
}
