.poster-card {
  display: flex;
  flex-direction: column;
  animation: fade-in 0.5s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.poster-card:hover {
  transform: scale(1.01);
}

.poster-card img {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2/3;
}

.poster-card .title-container {
  margin-top: 1rem;
}

.title-container p {
  color: #fff;
  font-size: 1.5rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.poster-info {
  color: #ffffffc0;
  display: flex;
  justify-content: space-between;
  font-size: 1.35rem;

  margin-top: 1rem;
}

.rating-star {
  color: yellow;
}
