.poster-card {
  display: flex;
  flex-direction: column;
}

.poster-card img {
  flex: 1;
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
}

.poster-card .title-container {
  margin-top: 0.5rem;
}

.title-container p {
  color: #fff;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.poster-info {
  margin-top: 0.7rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;

  font-size: 1.4rem;
}

.rating-star {
  color: yellow;
}
