.search-form {
  width: min(40rem, 70%);
  margin-top: 20rem;

  margin-left: auto;
  margin-right: auto;
}

.search-control {
  width: 100%;
  display: flex;
}

.radio-btns {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1.6rem;
}

.vertical-line {
  background-color: transparent;
  backface-visibility: none;

  width: 5px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .search-control {
    flex-direction: column;
  }

  .search-control button {
    margin-top: 1rem;
  }
}
